---
---
{%- capture newline %}
{% endcapture -%}

{%- capture scss-light -%}
@import "./support/_variables";
@import "./color_schemes/light";
.site-nav ul li a {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 80%,
    rgba($feedback-color, 0) 100%
  );
}
{%- endcapture -%}

{%- capture scss-dark -%}
@import "./support/_variables";
@import "./color_schemes/dark";
html.dark-mode {
  .site-nav ul li a {
    background-image: linear-gradient(
      -90deg,
      rgba($feedback-color, 1) 0%,
      rgba($feedback-color, 0.8) 80%,
      rgba($feedback-color, 0) 100%
    );
  }
}
{%- endcapture -%}

{{ scss-light | scssify | split: newline | slice: -2, 2 | join: newline }}
{{ scss-dark  | scssify | split: newline | slice: -2, 2 | join: newline }}
