name: Run Checks

on:
    workflow_dispatch:
#   push:
#     branches: [ main, dev ]
#     paths: docs/**
    pull_request:
      branches: [ main ]
      paths: docs/**

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true
          working-directory: ./docs
          cache-version: 0 # Increment this number if you need to re-download cached gems
      - name: Build with Jekyll
        run: bundle exec jekyll build
        working-directory: ./docs
      - name: Run HTML Proofer
        run: bundle exec htmlproofer ./_site --disable-external --no-enforce-https
        # --log-level :debug 
        working-directory: ./docs
